html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;    
    background-color: #ccc;        
}

#main {
    position: relative;
    margin: auto;
    top: 50px;
    width: 960px;
    height: 480px;
}

#p5 {
    position: relative;
    width: 640px;
    height: 480px;
    float: left;
}

#controls {
    position: relative;
    width: 300px;
    height: 480px;
    float: right;
}

.CodeMirror {
    /*border: 1px solid black;*/
    width: 300px;
    max-width: 300px;            
    height: 430px;
    outline: none;
    float: left;
}

#btn {
    display: block;
    background-color: white;
    /*border: 1px solid black;*/
    margin-top: 20px;
    margin-right: 20px;
    height: 14px;
    width: 30px;
    float: left;
    padding: 8px;
    font: 12px monospace;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

    #btn:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    #btn:active {
        background-color: white;
        color: black;
        cursor: pointer;
        text-decoration: none;
    }